#friends-display-link {
  display: block;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  background-color: #fafafa;
  margin-bottom: 12px;
}
#friends-display-link i {
  opacity: 0.5;
}
.friends-screen{
  padding: 0px var( --horizontal-space);
}
.friends-screen__channel{
  margin-top: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);  
}
.friends-screen__channel-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-bottom:27px;
  color: rgba(0, 0, 0, 0.5);  
  font-size: 18px;
}