.screen-header{
    display: flex;
    justify-content: space-between;
   
    padding: 30px;
    padding-top: 51px;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
}
.screen-header__title{
    font-size: 36px;
    font-weight: var(--weight-semi-bold);
}
.header__icons i{
    margin-left: 44px;
}
