
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    
  
  }
  #login-form input{
    padding:20px 0px;
    border:none;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color var(--animation-duration) ease-in-out;
  }
  
  #login-form input::placeholder{
    color:rgba(0, 0, 0, 0.4); ;
  }
  #login-form input:focus{
    border-color: var(--yellow);
  }
  #login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color  var(--animation-duration) ease-in-out;
    
  }
  #login-form input[type="submit"]{
    padding:22px 0px;
    cursor: pointer;
    transition: background-color .1s ease-in;
    border-radius: var(--size-border-radius);
  }
  #login-form input[type="submit"]:hover{
    background-color: var(--yellow);
  }
  #login-form a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    margin-top: 28px;
    text-align: center;
  }