.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 22px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__link {
    position: relative;
  color: #2f363e;
}
.nav__notification {
  position: absolute;
  left: 23px;
bottom:20px;
  
}
.ellipsis__notification{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    left: 35px;
    bottom: 38px;
}
