.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 6px 7px;
    position: sticky;
    top:0;
    width: 100%;
    box-sizing: border-box;
    
  }
  
  .status-bar__column:first-child span {
    margin-right: 5px;
  }
  .status-bar__column:nth-child(2) {
    display: flex;
    justify-self: center;
  }
  .status-bar__column:nth-child(2) span {
    font-weight: var(--weight-semi-bold);
  }
  .status-bar__column .fa-battery-three-quarters{
    margin: 0 3px;
  }
  